<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="icon" href="{% static 'img/OIP.jpeg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}-推荐系统</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link_css %}{% endblock %}
</head>
<body>

<!--导航栏开始-->
<div class="nav">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">推荐系统</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="{% url 'importBookData' %}">上传文件</a></li>
                    <li><a href="{% url 'getrecommendbook' %}">图书推荐</a></li>
                </ul>
            <div class="col-md-offset-4">
                <form class="navbar-form navbar-left" action="{% url 'search' %}" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="kw" placeholder="书名、出版社……">
                    </div>
                    <button type="submit" class="btn btn-default">搜 索</button>
                </form>
            </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.session.userid %}
                    <li><a href="#">Hi ~, {{ request.session.name }}</a></li>
                    <li><a href="{% url 'logout' %}">退出</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">登 录</a></li>
                    <li><a href="{% url 'register' %}">注 册</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<!--导航栏结束-->

<!--内容开始-->
{% block content %}
{% endblock %}
<!--内容结束-->

<!--分页开始-->
{% block page %}
{% endblock %}
<!--分页结束-->

<script crossorigin="anonymous" integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl"
        src="https://lib.baomitu.com/jquery/3.5.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

{% block script_js %}{% endblock %}

</body>
</html>
