{% extends 'base.html' %}

{% block title %}搜索“{{ kw }}”{% endblock %}

{% load static %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for foo in page %}
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="{% url  'getbookinfo' id=foo.id %}"><img src="{{ foo.cover }}" alt="图书封面"></a>
                        <div class="caption">
                            <a href="{% url  'getbookinfo' id=foo.id %}"><h3 class="book_name">{{ foo.name }}</h3>
                            </a>
                            {#                            <p>介绍：{{ foo.introduction }}</p>#}
                            <p>出版社：{{ foo.publish }}</p>
                            <p><span>价格：{{ foo.price }}</span>
                                <span class="rating">评分：<span class="rat">{{ foo.rating }}</span></span></p>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg" id="paging">

                <li class="{% if not page.has_previous %}disabled{% endif %}">
                    {% if page.has_previous %}
                        <a href="{% url 'search' %}?page=1" aria-label="Previous">首页</a>
                    {% endif %}
                </li>
                <!--上一页-->
                <li class="{% if not page.has_previous %}disabled{% endif %}">
                    {% if page.has_previous %}
                        <a href="{% url 'search' %}?page={{ page.previous_page_number }}" aria-label="Previous">
                    {% endif %}
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!--页码-->
                <!--这里展示页码使用传递过来的dis_range -->
                {% for num in dis_range %}
                    <li class="{% if num == page.number %}active{% else %}{% endif %}">
                        <a href="{% url 'search' %}?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}

                <!--下一页-->
                <li class="{% if not page.has_next %}disabled{% endif %}">
                    {% if page.has_next %}
                        <a href="{% url 'search' %}?page={{ page.next_page_number }}" aria-label="Next">
                    {% endif %}
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="{% if not page.has_next %}disabled{% endif %}">
                    {% if page.has_next %}
                        <a href="{% url 'search' %}?page={{ paginator.num_pages }}" aria-label="Next">尾页</a>
                    {% endif %}
                </li>

            </ul>
        </nav>
    </div>
{% endblock %}

{% block script_js %}
    {% csrf_token %}
    <script>var login_route = "{% url 'login' %}"</script>
    {#    <script>var hits_route = "{% url 'hits_book' %}"</script>#}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}